$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-shadow: rgba(0,0,0, 0.32);
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-input :#f0f0f0;

$color__text-screen: #21759b;
$color__text-input: #414141;
$color__text-input-focus: #111;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #404040;
$color__white: #fff;

$color__border-button: #2a7250;
$color__background-button: #2a7250;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$main-color: #01578a;
$dark-color: #000;
$common-color-transparent: rgba(1, 87, 138, 0.8);
$title-color: #282828;
$shadow-color: #464646;
$main-light: #edf4f9;
$light-color: #b5b5b5;
$common-color: #f7941d;
$overlay-color: #383838;
$mid-color: #fde0bd;
$bright-color: #929292;
$grey-color: #656565;