button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	@include border(1px, $common-color, all);
	@include border-radius(0);
	background: $color__white;
	color: $dark-color;
	display: block;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1.2px;
	height: 77px;
	line-height: 1;
	margin: 35px auto 0;
	padding: .6em 1em .4em;
	text-transform: uppercase;
	width: 250px;
	&:hover,
	&:active,
	&:focus {
		background-color: $common-color;
		color: $color__white;
	}
}